name: orphaned-content-check
on:
  pull_request:
  push:
    
jobs:
  orphaned-content-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 
      - name: check for orphaned content
        run: |
          python tests/orphaned-content.py
